{% load static %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'user_profile.css' %}">
    <script src="https://kit.fontawesome.com/d57e6babac.js" crossorigin="anonymous"></script>
    <title>Aclesia</title>
</head>
<body>

    <header>
        <div class="container">
            <div class="nav-wrapper">
                <a class="nav-image" href=""><img class="aclesia-logo" src="{% static 'aclesia_logo_50x50.png'%}"></a>
                <nav>
                    <ul aria-label="Primary" role="list" class="nav-list">
                        <li><a class="fs-md-nav" id="create-icon" href="/create-content"><i class="fa-solid fa-plus fa-xl"></i></a></li>
                        <li><a class="fs-md-nav" id="follow-others" href="https://www.google.com"><i class="fa-solid fa-user-plus fa-xl"></i></a></li>
                        <li><a class="fs-md-nav" id="chat" href="https://www.google.com"><i class="fa-solid fa-message fa-xl"></i></a></li>
                        <li><a class="fs-md-nav" id="notifications" href="https://www.google.com"><i class="fa-solid fa-bell fa-xl"></i></a></li>
                        <li><a class="fs-md-nav" id="user-profile-image" href="/user_profile"><img class="profile-logo" src="{% static 'nathan_logo_50x50.png'%}"></a></li>
                        <li><a class="fs-md-nav" id="dropdown-button" href="#"><i class="fa-solid fa-caret-down fa-lg"></i></a></li>
                    </ul>
                </nav>

            </div>
            <div class="features-hidden profile-dropdown-container" id="dropdown-menu">
                <div class="">
                    <ul class="profile-dropdown-list" aria-label="primary" role="list">
                        <li class="profile-dropdown-item fs-sm"><a class="profile-dropdown-link" href="/user_profile">Profile</a></li>
                        <li class="profile-dropdown-item fs-sm"><a class="profile-dropdown-link" href="#">Settings</a></li>
                        <li class="profile-dropdown-item fs-sm"><a class="profile-dropdown-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>
    <main>
        <div class="left-item-container">
            <div class="left-bar-container">
                <ul class="left-bar-list" aria-label="primary" role="list">
                    <li class="left-item fs-sm"><a class="left-bar-item"  href=""><i id="series-icon"class="fa-solid fa-video fa-xl"></i><span id="series">Series</span></a></li>
                    <li class="left-item fs-sm"><a class="left-bar-item"  href=""><i class="fa-solid fa-pencil fa-xl"></i><span id="testimonies">Testimonies</span></a></li>
                    <li class="left-item fs-sm"><a class="left-bar-item" href=""><i class="fa-solid fa-church fa-xl"></i><span id="churches">Churches</span></a></li>
                    <li class="left-item fs-sm"><a class="left-bar-item"  href=""><i id="creators-icon" class="fa-regular fa-user fa-xl"></i><span id="creators">Creators</span></a></li>
                </ul>
            </div>
        </div>










        
    </main>



        </div>



    <script src="{% static 'user_profile.js' %}"></script>
 
    
</body>
</html>